#Timeline {
    border: solid thin white;
    border-top: none;
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
